/* ===========================
     ~~~  BASE STYLES ~~~
================================ */
* {
  box-sizing: border-box;
}

header {
  background-color: #2D3945;
  color: white;
}

h1,
h2 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.first {
  font-family: 'Libre Franklin', sans-serif;
  border-bottom: solid black 5px;
  padding-bottom: 20px;
  text-align: center;

}

form {
  max-width: 400px;
  margin: 10px auto;
}

fieldset {
  border: none;
  margin-bottom: 30px;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}







legend {
  font-weight: bold;
  font-size: 1.6em;
}

label {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  justify-content: space-between;
}

p {
  font-family: 'Libre Franklin', sans-serif;
}


button {
  background-color: #4EBBB5;
  padding: 19px 39px 18px 39px;
  font-family: 'Libre Franklin', sans-serif;
  color: #FFF;
  font-size: 22px;
  text-align: center;
  font-style: normal;
  width: 100%;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}



/* ===========================
    ~~~  MEDIA QUERIES ~~~
================================ */

@media (min-width: 768px) {

}
