/* ===========================
     ~~~  BASE STYLES ~~~
================================ */
* {
  box-sizing: border-box;

}

header {
  background-color: #2D3945;
  color: white;
  padding: .1em 0;
  font-size: 20px;
}

.container {
  padding-top: 1em;
  background-color: #c0cde0;
  padding: 5px;
}

.contact {
  border-top: solid black 3px;
  width: 100%;
  padding-top: 30px;
}
.wrapper {
  border-width: thick;
  border-bottom: solid black 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}


h1,
h2 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.first {
  width: 50%;
  font-family: 'Libre Franklin', sans-serif;
  border-bottom: solid black 7px;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  height: auto;
  margin: auto;
  margin-bottom: 5px;
  outline: 0;
  padding: 15px;
  padding-bottom: 30px;
  width: 93%;
}

form {
  max-width: 400px;
  margin: 10px auto;
}

fieldset {
  border: none;
  margin-bottom: 30px;
}

input::placeholder {
  text-align:  right;
  font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  transition: all 1.0s ease;
  background: rgba(255,255,255,0.1);
  border-radius: 4%;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: royalblue;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

textarea {
  transition: all 1.0s ease;
  background: rgba(255,255,255,0.1);
  border-radius: 4%;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: royalblue;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 0;
}

select {
  background: rgba(255,255,255,0.1);
  border-radius: 4%;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: royalblue;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  height: 53px;
  border-radius: 4%;
}

input[type="number"] {
  display: flex;
  transition: all 1.0s ease;
  background: rgba(255,255,255,0.1);
  border-radius: 4%;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 2px;
  padding: 15px;
  width: 45%;
  background-color: #e8eeef;
  color: royalblue;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}



legend {
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 12px;
}

label {
  font-family: 'Libre Franklin', sans-serif;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;

}

input:focus,
textarea:focus {
  background-color: #d8aa75;
  border: solid black 2px;
  transition: all 1.0s ease;
}

.choices label {
  padding-left: 40px;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    float: left;
    justify-content: space-between;

}




p {
  font-family: 'Libre Franklin', sans-serif;
}


button {
  background-color: #4EBBB5;
  padding: 19px 39px 18px 39px;
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  font-size: 22px;
  text-align: center;
  font-style: normal;
  width: 100%;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 8px;
  margin-top: 0;
}

footer {
  text-align: center;
  padding-bottom: 10px;

}

/* ===========================
    ~~~  MEDIA QUERIES ~~~
================================ */

@media (min-width: 768px) {
  
}
