/* ===========================
     ~~~  BASE STYLES ~~~
================================ */
* {
  box-sizing: border-box;
}

header {
  background-color: #2D3945;
  color: white;
}

h1,
h2 {
  font-family: 'Anton', sans-serif;
  text-align: center;
}

input {
  background-color: #EFF0F1;
}

input[type=checkbox]:checked + label {
 background-color: #489FF9;
}


button {
  background-color: #4EBBB5;
}



/* ===========================
    ~~~  MEDIA QUERIES ~~~
================================ */

@media (min-width: 768px) {

}
